<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<servlet>
		<display-name>Image Resize Servlet</display-name>
		<servlet-name>ImageResizeServlet</servlet-name>
		<servlet-class>com.idega.block.banner.servlet.ImageResizeServlet</servlet-class>
		<init-param>
			<param-name>maxAge</param-name>  
			<param-value>604800</param-value>  
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ImageResizeServlet</servlet-name>
		<url-pattern>/thumbsCreator/*</url-pattern>
	</servlet-mapping>

</web-app>